<html lang="en">
  <%- include('includes/head')  %>
<body>
    <%- include('includes/header')  %>
    <main>
<h>Welcome <%=user.username%></h>
  <ul>
  <% posts.forEach(post=>{ %>
<li><a href="/post/<%= post.id %>"> <%= post.title%></a> was posted on <%= new Date(post.createdDate).getMonth()+1%>/<%= new Date(post.createdDate).getDate()%>/<%= new Date(post.createdDate).getFullYear()%> </li>

  <% })%>
  
  </ul>

    </main>
    <footer>
    <small>&copy; Our wonderful app</small>
    </footer>
</body>
</html>