<html lang="en">
  <%- include('includes/head')  %>
<body>
    <%- include('includes/header')  %>
       <main>
  <form action="/edit-post/<%= post.id %>" method="POST">
  <% errors.forEach(error => { %>
    <p class="notice"><%= error %></p>
 <% });%>

   <fieldset>
   <legend>Edit post</legend>
   <label for="title"><small>Title</small></label>
   <input type="text" value="<%=post.title %>" id="title" name="title" autocomplete="on"/>

      <label for="body"><small>Content</small></label>
      <textarea id="body" name="body"><%=post.content %></textarea>
  
   <br/>
   <button h>Save Changes</button>
   </fieldset>
  
  </form>
    </main>
    <footer>
    <small>&copy; Our wonderful app</small>
    </footer>
</body>
</html>