<html lang="en">

  <%- include('includes/head')  %>
<body>

    <%- include('includes/header')  %>

       <main>
  <h1><%=post.title%></h1>
  <article>
  <small>Posted by <%= post.username%> on <%= new Date(post.createdDate).getMonth()+1%>/<%= new Date(post.createdDate).getDate()%>/<%= new Date(post.createdDate).getFullYear()%> </small>
  <div>
  <%= post.content %>
  </div>
  </article>

<% if(iAuthor){%>
  <a href="/edit-post/<%= post.id %>" class="button">Edit post</a>
  <form style="display: inline;" action="/delete-post/<%= post.id %>" method="POST">
  <button>Delete post</button>
  </form>
<%}%>
  
    </main>
    <footer>
    <small>&copy; Our wonderful app</small>
    </footer>
</body>
</html>